salesforce-crud-accounts-duplicate/src/main/app/salesforce-insert.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <sfdc:config name="Salesforce__Basic_Authentication" username="14p31a0522@aditya.com" password="babi@123" securityToken="UaLLlaM0hJQuYBBKuGD5IANn6" doc:name="Salesforce: Basic Authentication"/>
    <flow name="salesforce-insert-update-successfully">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/up" doc:name="HTTP"/>
        <json:json-to-object-transformer returnClass="java.util.List" doc:name="JSON to Object"/>
        <foreach doc:name="For Each">
            <set-variable variableName="accountVar" value="#[payload.account]" doc:name="Variable"/>
            <set-variable variableName="contactVariable" value="#[payload.contact]" doc:name="Variable"/>
            <set-variable variableName="opportunityVar" value="#[payload.opportunity]" doc:name="Variable"/>
            <enricher target="#[flowVars.response]" doc:name="Message Enricher">
                <processor-chain doc:name="Processor Chain">
                    <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT Id FROM Account WHERE AccountNumber = '#[flowVars.accountVar.AccountNumber]'" doc:name="Salesforce"/>
                    <set-payload value="#[payload.hasNext() ? payload.next() : &quot;not matched&quot;]" doc:name="Set Payload"/>
                </processor-chain>
            </enricher>
            <choice doc:name="Choice">
                <when expression="#[flowVars.response == &quot;not matched&quot;]">
                    <set-payload value="#[flowVars.accountVar]" doc:name="Set Payload"/>
                    <flow-ref name="salesforce-insertSub_Flow" doc:name="Flow Reference"/>
                    <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Account" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:create>
                    <dw:transform-message doc:name="Transform Message">
                        <dw:set-variable variableName="AccVar"><![CDATA[%dw 1.0
%output application/java
---
{
	"AccVar": payload.Id[0]
}]]></dw:set-variable>
                    </dw:transform-message>
                    <dw:transform-message doc:name="Transform Message" metadata:id="f9cb8c8e-f569-4226-953d-7eac96626ded">
                        <dw:input-payload mimeType="application/java"/>
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	//AccountId: payload.Id[0],
	AccountId : flowVars.AccVar[0],
	LastName: flowVars.contactVariable.LastName,
	FirstName: flowVars.contactVariable.FirstName,
	Phone: flowVars.contactVariable.Phone
}]]]></dw:set-payload>
                    </dw:transform-message>
                    <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Contact" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:create>
                    <logger message="SF Rews :: #[payload]" level="INFO" doc:name="Logger"/>
                    <dw:transform-message doc:name="Transform Message" metadata:id="e2e28ab3-1b9a-4dab-9332-26e516d6fcff">
                        <dw:input-payload mimeType="application/java"/>
                        <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[{
	//AccountId: payload.AccountId[0],
	AccountId : flowVars.AccVar[0],
	StageName: flowVars.opportunityVar.StageName,
    Amount: flowVars.opportunityVar.Amount,
	Name: flowVars.opportunityVar.Name,
	CloseDate: flowVars.opportunityVar.CloseDate as :date{format: "yyyy-MM-dd"}
}]]]></dw:set-payload>
                    </dw:transform-message>
                    <sfdc:create config-ref="Salesforce__Basic_Authentication" type="Opportunity" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:create>
                    <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                </when>
                <otherwise>
                    <flow-ref name="salesforce-insertSub_Flow" doc:name="Flow Reference"/>
                    <sfdc:update config-ref="Salesforce__Basic_Authentication" type="Account" doc:name="Salesforce">
                        <sfdc:objects ref="#[payload]"/>
                    </sfdc:update>
                    <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                </otherwise>
            </choice>

        </foreach>
    </flow>
    <sub-flow name="salesforce-insertSub_Flow">
        <expression-component doc:name="converting payload  to list"><![CDATA[java.util.List list =new java.util.ArrayList();
list.add(payload);
payload=list;
return payload;]]></expression-component>
    </sub-flow>
</mule>
